<div class="room" id="myroom">


  <div class="room-border">
    <ui class="room-questions">
      <li>
        <div></div>
      </li>
      <li>
        <div></div>
      </li>
      <li>
        <div></div>
      </li>
      <li>
        <div></div>
      </li>
    </ui>
  </div>

  <div class="ask">
  <div class="editor">

  </div>

  <div class="preview"></div>

  </div>

</div>

<script src="/vender/react/react.min.js"></script>

<script type="text/javascript" src="/js/react/questionList.js"></script>


