<div class="container">

  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

    <div id="meetup-day-group">
      <div class="meetup-date">
        Thirday JAN 1
      </div>
      <ul>
      <% for(var i=0; i<events.length; i++) {%>

        <li class="meetup-calender">

          <div class="meetup-time col-xs-2 col-sm-2 col-md-2 col-lg-2">
            7:00 PM
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="meetup-localtion"><%= events[i].address %></div>
            <div class="meetup-title"><a href="/show/2221"><%= events[i].topic %></a></div>
            <div class="meetup-members">7 <span>hacks Going</span>
            </div>
          </div>
        </li>

      <% } %>

      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function  () {
    $('.meetup-date')
      .waypoint({handler:function(dir){
          console.log(this.element.addClass)
          if(dir==='down'){
          $(this.element).addClass('fixtop');
          }
          else{
            $(this.element).removeClass('fixtop');
          }
        }
      })
  })
</script>
