<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/styles/chapterbase.css">
    <link rel="stylesheet" href="/styles/meetup-modern.css">
    <title> SRAN SW3</title>

</head>

<body id="meetupBody" class="humble hasJS" data-feedly-mini="yes">

    <div id="C_header">
        <div id="C_headerBody">
            <div id="C_logo">

                <a href="">
                    <img src="http://img2.meetupstatic.com/img/8308650022681532654/header/logo-2x.png" width="68" height="45" alt="Meetup">
                </a>

            </div>
            <div id="C_userNav">

                <ul id="C_userLinks" class="inlineblockList">

                    <li class="C_userNavItem C_userTopNavItem C_userTopNavButtonItem">
                        <a class="omnCamp omnrg_signup nav-button--red" href="">Sign up</a>
                    </li>

                    <li class="C_userNavItem C_userTopNavItem C_userTopNavButtonItem"><a href="" class="nav-button--white ">Log in</a>
                    </li>
                    <li id="C_langChange" class="C_userNavItem C_userTopNavItem">

                        <form id="C_langForm" action="http://www.meetup.com/account/language/" method="post">
                            <select id="C_langs" name="lang" class="inline">

                                <option class="en_US" value="en_US">English</option>

                                <option class="de" value="de">Deutsch</option>

                                <option class="es" value="es">Español</option>

                                <option class="fr" value="fr">Français</option>

                                <option class="it" value="it">Italiano</option>

                                <option class="pt" value="pt">Português</option>

                            </select>
                            <noscript>
                                &lt; input type="submit" name="submitButton" value="Set language" class="button primary " /&gt; </noscript>

                        </form>
                    </li>

                    <li class="C_userNavItem C_userTopNavItem">
                        <div id="nav-about" class="dropdown callout">
                            <a href="#" class="dropdown-toggle"><i class="icon-more icon-l"></i></a>
                            <ul class="dropdown-menu bordered">
                                <li class="C_userNavItem">
                                    <a href="http://www.meetup.com/help/" class="C_groupsMenuItem" target="_blank">Help</a>
                                </li>
                                <li class="C_userNavItem">
                                    <a href="http://www.meetup.com/about/" class="C_groupsMenuItem">About Us</a>
                                </li>
                                <li class="C_userNavItem">
                                    <a href="http://www.meetup.com/jobs/" class="C_groupsMenuItem" target="_blank">We're Hiring!</a>
                                </li>
                                <li class="C_userNavItem">
                                    <a href="http://www.meetup.com/privacy/" class="C_groupsMenuItem">Privacy &amp; Terms</a>
                                </li>
                                <li class="C_userNavItem C_userNavItemSmall">
                                    <a href="http://blog.meetup.com/" class="C_groupsMenuItem" target="_blank">Blog</a>
                                </li>
                                <li class="C_userNavItem C_userNavItemSmall">
                                    <a href="http://making.meetup.com/" class="C_groupsMenuItem" target="_blank">Tech Blog</a>
                                </li>
                                <li class="C_userNavItem C_userNavItemSmall">
                                    <a href="http://www.meetup.com/meetup_api/" class="C_groupsMenuItem">API</a>
                                </li>

                                <li class="C_userNavItem C_userNavItemSmall">
                                    <a href="http://nytm.org/made" class="C_groupsMenuItem" target="_blank">Made in NYC</a>
                                </li>

                                <li class="C_userNavItem C_userNavItemLast">

                                    ©2015 Meetup
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>

            <div id="C_globalNav">
                <div id="C_tabs">
                    <a href="">
                        <span class="C_tabContent">
                            <span class="C_topBig">Find</span>
                        <span class="C_topSm">a Meetup Group</span>
                        </span>
                    </a>
                    <a id="tabs_start" class="omnCamp omnic_sn3" href="">
                        <span class="C_startContainer C_tabContent">
                            <span class="C_topBig">Start</span>
                        <span class="C_topSm">a Meetup Group</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="C_page" class=" lt">
        <div id="C_pageBody">
            <div id="chapterHeader" class="doc-box">
                <div id="chapter-banner" class="doc-content">

                    <h1>
                        <a href="" title="Docker Hangzhou - Hangzhou, China">
                        <span style="font-size: 42.0px">Clean Code Contest Hangzhou</span>
                        </a>
                    </h1>
                </div>

                <div id="chapter-navigation" class="clearfix">
                    <ul id="group-links" class="chapter-menu inlineblockList">

                        <li class=" selected">
                            <a href="">Home</a>
                        </li>

                        <li class=" ">
                            <a href="">Members</a>

                        </li>

                        <li class="">
                            <a href="">Sponsors</a>
                        </li>

                        <li>
                            <a href="">Photos</a>
                        </li>

                        <li>
                            <a href="">Discussions</a>
                        </li>

                        <li aria-haspopup="true" class=" dropdown">
                            <a href="#" onclick="return false;" class="withKids">More</a>
                            <ul class="resetList dropdown-menu">

                                <li class="">
                                    <a href="">Polls</a>
                                </li>
                                <li class="">
                                    <a href="">Files</a>
                                </li>

                                <li class="">
                                    <a href="">Report this group</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul id="my-links" class="chapter-menu inlineblockList">


                        <li id="join-link">

                            <a id="gh-topnav-join" href="" class="J_signupLink J_onClick omnCamp omnrg_joinus topNavJoinus button primary inline joinGroupButton">Join us!</a>

                        </li>

                    </ul>
                </div>
            </div>
            <div id="C_context" style="min-height:2015px; ">
                <div id="C_document" class>
                    <div id="urf-chapter-description" class="docBox">
                        <p> Hello NOKIA SRAN SW3
                    </div>
                    <div id="join-or-connect" clas="docBox"></div>
                    <div class="v4-gh-main-column memberinfo-widget-root" id="v4-gh-main-column" data-original-title></div>
                    <div class="v4-gh-last-column" id="v4-gh-last-column"></div>
                    <input type="hidden" id="_GrouphomeForceReload" name="_GrouphomeForceReload" value="0">
                </div>
                <div id="C_nav">
                    <div id="C_metabox" class="doc-box ">



                        <a class="block meta-gphoto align-center margin-top" href="http://www.meetup.com/docker-hangzhou/photos/24717632/413521112/">
                            <img src="http://photos3.meetupstatic.com/photos/event/4/5/8/global_413521112.jpeg" alt="" class="photo">
                        </a>

                        <div class="doc-content">

                            <div itemscope="" itemtype="http://schema.org/Organization">
                                <span class="display-none" itemprop="name">CleanCode Contest Hangzhou</span>
                                <span class="display-none" itemprop="url">http://www.meetup.com/docker-hangzhou/</span>
                                <span class="display-none" itemprop="image">http://photos3.meetupstatic.com/photos/event/4/5/8/global_413521112.jpeg</span>
                                <div class="adr" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <h3><a href="http://www.meetup.com/cities/cn/hangzhou/">
                                        <span class="locality" itemprop="addressLocality">Hangzhou</span>,
                                        <span class="region" itemprop="addressCountry">China</span>
                                        </a>
                                    </h3>

                                </div>
                                <div class="small margin-bottom">
                                    Founded Aug 21, 2014
                                    <br>
                                </div>
                                <span class="display-none" itemprop="foundingDate">20140820</span>
                            </div>

                            <ul class="dividedList small">


                                <li class="line">

                                    <a href="" class="block"><span class="unit size5of7 wrapNice">Dockers</span>
                                        <span class="lastUnit align-right">171</span>
                                    </a>

                                </li>

                                <li class="line">
                                    <a href="" class="bottom block">
                                        <span class="unit size5of7">Group reviews</span>
                                        <span class="lastUnit align-right">1</span>
                                    </a>
                                </li>

                                <li class="line">

                                    <a href="" data-pageto="0" data-op="" data-append="false" data-scroll="true" class="page-meetups block">
                                        <span class="unit size5of7">Upcoming Meetups</span>
                                        <span class="lastUnit align-right">1</span>
                                    </a>

                                </li>

                                <li class="line">

                                    <a href="" data-pageto="0" data-append="false" data-op="past" data-scroll="true" class="page-meetups block">
                                        <span class="unit size5of7">Past Meetups</span>
                                        <span class="lastUnit align-right">3</span>
                                    </a>

                                </li>

                                <li class="line">
                                    <a href="http://www.meetup.com/docker-hangzhou/events/" class="block">
                                        <span class="unit size5of7">Our calendar</span>
                                        <span class="lastUnit align-right"><i class="icon icon-meetups"></i></span>
                                    </a>
                                </li>

                            </ul>

                        </div>

                        <div id="meta-organizers" class="doc-content memberinfo-widget-root" data-original-title="">


                            <h4>
                                <a href="http://www.meetup.com/docker-hangzhou/members/?op=leaders">Organizers:</a>
                            </h4>
                            <div class="clearfix">
                                <div id="meta-org-photo">

                                    <a href="http://www.meetup.com/docker-hangzhou/members/42668472/" class="memberinfo-widget block" data-memberid="42668472"><img src="http://photos4.meetupstatic.com/photos/member/b/b/3/7/thumb_241427927.jpeg" alt="" class="orgboxImg">
                                    </a>

                                </div>
                                
                            </div>

                            <div class="bottomStop" style="display:none;">

                                <a href="http://www.meetup.com/docker-hangzhou/members/?op=leaders">View The Leadership Team</a>
                                <br>

                            </div>

                            <a href="http://www.meetup.com/messages/?new_convo=true" class="rounded-all metaButton" id="contactOrg" data-org="true"><i class="icon-s icon-email"></i> Contact</a>

                        </div>
                        <div class="doc-content">
                            <div id="topic-box-2012" data-original-title="" class="topic-widget-root">
                                <h5>We're about:</h5>

                                <div class="meta-topics-block small margin-bottom">

                                    <div id="topicList7" class="small">

                                        <a href="" class="topic-id-563 topic-widget" data-topic="opensource" data-topicid="563">Open Source</a> ·

                                        <a href="" class="topic-id-3833 topic-widget" data-topic="softwaredev" data-topicid="3833">Software Development</a> ·

                                        <a href="" class="topic-id-9696 topic-widget" data-topic="newtech" data-topicid="9696">New Technology</a> ·

                                        <a href="" class="topic-id-15167 topic-widget" data-topic="cloud-computing" data-topicid="15167">Cloud Computing</a> ·


                                        <a href="" class="topic-id-15582 topic-widget" data-topic="web-development" data-topicid="15582">Web Development</a> ·

                                        <a href="" class="topic-id-17627 topic-widget" data-topic="programming" data-topicid="17627">Programming</a> ·

                                        <a href="" class="topic-id-1454542 topic-widget" data-topic="docker" data-topicid="1454542">docker</a>

                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            .mt-two-btn-cta {
                background:white;
                border-top:1px solid rgb(215,215,215);
                border-top:1px solid rgba(0,0,0,0.1);
                padding:36px 12px;

            }

            .mt-two-btn-cta--container {
                max-width:960px;
                width:94%;
                margin:0 auto;
            }

            .mt-two-btn-cta img {
                height:144px;
                padding-right:9px;
            }

            .mt-two-btn-cta h1 {
                font-size:20px;
                padding-bottom: 0;
                color:rgb(0,0,0);
                color:rgba(0, 0, 0, 0.95);
            }

            .mt-two-btn-cta h3 {
                font-weight:normal;
                color:rgb(70,70,70);
                color:rgba(0, 0, 0, 0.67);
            }

            .mt-two-btn-cta-buttons .button:first-child {
                margin-right: 8px;
            }

            .mt-two-btn-cta-buttons .button:not(:first-child) {
                margin-top: 0;
            }

            .mt-two-btn-cta .button {
                margin-top: 12px;
                margin-bottom: 12px;
            }

            /**
            * Mobile MT
            * -----------------------------------------------
            */

            .mFindMt .mt-two-btn-cta--container {
                max-width: 720px;
            }

            @media screen and (max-width: 480px) {

                .mt-two-btn-cta {
                    background: #f7f7f7;
                    padding: 12px;
                }

                .mt-two-btn-cta--container {
                    display: block;
                    max-width: none;
                }

                .mt-two-btn-cta .ffbox-fix,
                .mt-two-btn-cta .ffbox-flex {
                    display: block;
                    text-align: center;
                }

                .mt-two-btn-cta .ffbox-fix img {
                    padding-right: 0;
                    margin-bottom: 12px;
                }

                .mt-two-btn-cta h1,
                .mt-two-btn-cta h3 {
                    font-size: 16px;
                }

                .mt-two-btn-cta h3 {
                    bottom-margin: 12px;
                }

            }

        </style>
        <div class="doc-padding mt-two-btn-cta mt-track" data-area="group_home_bottom" data-rule="testimonials for group aliens" data-bandit-code="desktop_group_alien_testimonial" data-bandit-variant="h">
            <div class="mt-two-btn-cta--container">
                <div class="unit mt-two-btn-cta--cta">
                    <h3>Sometimes the best Meetup Group is the one you start</h3>
                    <div>
                        <a href="http://www.meetup.com/r/bandit/h/0/micro_target_copy.desktop_group_alien_testimonial/https://secure.meetup.com/create/" class="button button--primary margin-right">Get started</a>
                        <a href="http://www.meetup.com/r/bandit/h/0/micro_target_copy.desktop_group_alien_testimonial/https://secure.meetup.com/create/learn-more" class="button">Learn more</a>
                    </div>
                </div>
                <div class="lastUnit mt-two-btn-cta--testimonial rounded-all">
                    <span class="avatar avatar--person avatar--big margin-left margin-bottom" style="background-image:url(http://img2.meetupstatic.com/img/3075244183150967216370/microTemplate/bottombar/testimonials/bill.jpg); ">Bill</span>
                    <p>I started the group because there wasn't any other type of group like this. I've met some great folks in the group who have become close friends and have also met some amazing business owners.</p>
                    <p>— <strong>Bill</strong>, started New York City Gay Craft Beer Lovers</p>
                </div>
            </div>
        </div>
    </div>

    <div id="fb_root" class="fb_reset"></div>
    <% events.forEach(function(event){ %>
        <li><%= event.name %></li>
    <% }); %>

</body>

</html>
