
<div class="container">
  <div class="row">

    <% for(var i=0; i<meetups.length; i++) {%>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <div class="meetup-card">

            <a href ="#" class="nametag-card-name">

            <%= meetups[i] %>
            </a>

          </div>
          <div class="meetups-members">
              150 rockers
          </div>
      </div>
    <% } %>
  </div>
</div>