
    <p>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/newGroup" id="GroupForm1" style="margin-top:40px;" >
        
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputName" name= "Name" placeholder="">
            </div>
        </div>
        
        <div class="form-group">
          <label for="inputDesc" class="col-sm-3 control-label">Group Description</label>
          <div class="col-sm-8">
            <textarea class="form-control col-sm-8" rows="4" id="inputDesc" name="Desc"></textarea>
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputPic" class="col-sm-3 control-label">Group Picture (360px*300px)</label>
          <div class="col-sm-8">
            <input type="file"  name="groupflag" multiple="multiple">
          </div>  
        </div>

        

          
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <% if(action=='new') { %>
                <button type="button" class="btn btn-default" form="GroupForm1" onclick="newgroup()">Public</button>
              <% }else if( action=='edit') { %>
                <button type="button" class="btn btn-default" form="GroupForm1" onclick="editgroup(<%=groupid%>)">Update</button>
              <% }else if(action=='delete') { %>
                <button type="button" class="btn btn-default" form="GroupForm1" onclick="deletegroup(<%=groupid%>)">Delete</button>
              <% } %>
            </div>

        </div>
    </form>
<div class="container">
<div class="row">
<div class="span12">
<div class="jc-demo-box">


<img id="originalimg" src="/images/find.jpg" style="display:none">
<div id="for_preview">


</div>

</div>
</div>
</div>
</div>

    <canvas id="canvas" style="visibility:hidden"></canvas>

<script language="Javascript">

var ori_width;
var ori_height;
var dimg_width;
var dimg_height;
var dimg_x;
var dimg_y;
var const_pic_width = 600;

$(document).ready(function() {

    var jcrop_api, boundx, boundy;

    var preview_html = '<div id="preview-pane" >';
    preview_html += '<div class="preview-container">';
    preview_html+='<img id="destimg" src="" class="jcrop-preview" alt="Preview" style="display:none">';
    preview_html += '</div></div>';

    $('#for_preview').html(preview_html);

    $("#originalimg").load(function() {
        var img = document.getElementById('originalimg');
        ori_width = img.naturalWidth;
        ori_height = img.naturalHeight;
        var new_width = const_pic_width;
        var new_height = Math.round((const_pic_width * ori_height)/ori_width);
        console.log('new_width:',new_width);
        console.log('new_height',new_height);
        $('#originalimg').css({
          'width': new_width+'px', 
          'height': new_height+'px'
        });

        

        

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();

        console.log('xsize', xsize);
        console.log('ysize', ysize);
        
    
        console.log('init',[xsize,ysize]);
        $('#originalimg').Jcrop({
          onChange: updatePreview,
          onSelect: updatePreview,
          aspectRatio: xsize / ysize
        },function(){
          // Use the API to get the real image size
          var bounds = this.getBounds();
          boundx = bounds[0];
          boundy = bounds[1];
          console.log('boundx:',boundx);
          console.log('boundy:',boundy);

          //Store the API in the jcrop_api variable
          jcrop_api = this;

          // Move the preview into the jcrop container for css positioning
          $preview.appendTo(jcrop_api.ui.holder);
          
        });

        function updatePreview(c)
        {
          if (parseInt(c.w) > 0)
          {
            var rx = xsize / c.w;
            var ry = ysize / c.h;
            dimg_width = Math.round(rx*boundx);
            dimg_height = Math.round(ry*boundy);
            dimg_x = Math.round(rx*c.x);
            dimg_y = Math.round(ry*c.y);

            $pimg.css({
              width: dimg_width + 'px',
              height: dimg_height + 'px',
              marginLeft: '-' + dimg_x + 'px',
              marginTop: '-' + dimg_y + 'px'
            });
          }
        }
    });


     $('#GroupForm1 input[name=groupflag]').change( function(event) {
      jcrop_api.destroy();
      var preview_html = '<div id="preview-pane" >';
      preview_html += '<div class="preview-container">';
      preview_html+='<img id="destimg" src="" class="jcrop-preview" alt="Preview" style="display:none">';
      preview_html += '</div></div>';
      $('#for_preview').html(preview_html);
      var tmppath = URL.createObjectURL(event.target.files[0]);
      $('img').fadeIn('fast').attr('src',tmppath);
           
});


});


    function newgroup(){
      var posturl = '/newGroup';
      drawpict();
      send_group_info(posturl);
    }

    function editgroup(groupid){
      var posturl = '/editGroup/' +groupid;
      drawpict();
      send_group_info(posturl);
    }

    function deletegroup(groupid){
      var posturl = '/deleteGroup' +groupid;
      drawpict();
      send_group_info(posturl);
    }



    function drawpict(){

        var img = document.getElementById('destimg');
        var canvas = document.getElementById('canvas');

        var xsize = $('#preview-pane .preview-container').width();
        var ysize = $('#preview-pane .preview-container').height();
        canvas.width = xsize;
        canvas.height = ysize;
        
        var cxt = canvas.getContext('2d');
        var img_x = Math.round(dimg_x*ori_width/dimg_width);
        var img_y = Math.round(dimg_y*ori_height/dimg_height);
        var img_width = Math.round(xsize*ori_width/dimg_width);
        var img_height = Math.round(ysize*ori_height/dimg_height);
        
        cxt.drawImage(img, img_x, img_y, img_width, img_height, 0, 0, xsize, ysize);
    }

    function send_group_info(strposturl){
        var cvs = document.getElementById('canvas');
        var data = cvs.toDataURL('image/jpeg');
        if(data.length<48){
            console.log('data error.');
        return;
        }
        //图片的base64 string格式是data:/image/jpeg;base64,xxxxxxxxxxx
        //是以data:/image/jpeg;base64,开头的，我们在服务端写入图片数据的时候不需要这个头！
        //所以在这里只拿头后面的string
        data = data.split(',')[1];
        var groupname = $('#GroupForm1 input[name=Name]').val();
        var groupdesc = $('#GroupForm1 textarea[name=Desc]').val();
        $.post(strposturl,{

            Name:groupname,
            Desc:groupdesc,
            Pic:data,
            
        },function(data){

        if (data.redirect) {
                window.location.href = data.redirect;
            }

            if(data.status===200){
                location.href = data.location;
            }else{
                console.log('commit image failed.');
            }
        },'json');

    }

</script>

