
<h1>up load your caldender file here  </h1>

<div id="newEvent">

</div>

<h2> or creat the event manually</h2>

<script src="/vender/react/react.min.js"></script>
<script type="text/javascript" src="/js/react/Events.js"></script>
