

<div style="height:360px; background-image: url(/images/find.jpg)">

  <div class="container">
    <div id="what-is-it">
      <h1>Meetup is
        <span>designed for us to find the interesting meeting for sharing and Learning
        </span>
      </h1>
      <a href="#">Login as Intra</a>
    </div>
  </div>

</div>