

<div style="height:315px; background-image: url(/images/find.jpg); background-size: cover;">

  <div class="container">
    <div id="what-is-it">
      <h1>Meetup is
        <span class='small-desc'>designed for us to find the interesting meeting for sharing and Learning
        </span>
      </h1>
      <% if (!req.session.user) { %>
        <a href="/login">Login as Intra ...
        </a>
      <% } %>
    </div>
  </div>
</div>
